.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background: white;

  &__top {
    border-bottom: 1px solid var(--light-grey);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }

  &__buttons {
    display: flex;
    gap: 8px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;

    @media (max-width: 1023px) {
      display: none;
    }
  }
}

.header-menu {
  display: flex;
  list-style: none;
  gap: 23px;
  margin: 0;
  padding: 0;

  a {
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    letter-spacing: -3%;

    &:hover {
      color: var(--purple);
    }
  }
}

.header-phone {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: -3%;

  &:hover {
    color: var(--purple);
  }
}

.header-hamburger {
  display: none;
  background: var(--light-grey);
  padding: 12px;
  border-radius: 40px;

  @media (max-width: 1023px) {
    display: flex;
  }
}

#hb1 {
  @media (max-width: 1023px) {
    display: none;
  }
}

#hb2 {
  @media (max-width: 479px) {
    display: none;
  }
}

.mobmenu {
  visibility: hidden;
  position: fixed;

  @media screen and (max-width: 860px) {
    opacity: 0;
    position: fixed;
    width: 100%;
    background: var(--white);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 99;
    transition: 0.3s;
    bottom: 100%;
    transition-property: bottom;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }

  &.slidebar {
    opacity: 0;
    transition: 0.3s;
    transition-duration: 0.4s;
    visibility: visible;
    bottom: 100%;
  }

  &.act {
    visibility: visible;
    opacity: 1;
    bottom: 0;
  }

  &__menu {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
  }

  &__element {
    padding: 36px 5px !important;

    .a {
      color: var(--black);
      font-size: 16px;
      line-height: 17.6px;
      font-weight: 700;
      transition: 0.3s ease;

      &:hover {
        color: var(--purple);
        transition: 0.3s ease;
      }
    }
  }

  &__button {
    position: absolute;
    bottom: 28px;
    width: 100%;
    display: flex;
    gap: 12px;
    text-align: center;
    justify-content: center;
  }
}

.bottom {
  display: flex;
  width: auto;
  text-align: center;
  gap: 12px;
}
