.donations {
  width: 100%;
  background: var(--gradient);
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 36px;

  @media screen and (max-width: 1023px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  &__title {
    margin-bottom: 36px;

    h2 {
      font-weight: 800;
      font-size: 42px;
      line-height: 46.2px;
      letter-spacing: -2%;
      color: var(--white);
      display: flex;
      gap: 14px;

      @media screen and (max-width: 767px) {
        font-size: 28px;
        line-height: 28px;
        gap: 8px;
      }

      @media screen and (max-width: 479px) {
        font-size: 26px;
        line-height: 28.6px;
        gap: 8px;
      }

      #icon_heart_text {
        display: flex;

        @media screen and (max-width: 479px) {
          display: none;
        }

        img {
          @media screen and (max-width: 767px) {
            width: 24px;
          }
        }
      }
    }
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;

    @media screen and (max-width: 1279px) {
      grid-template-columns: repeat(1, 1fr);
    }

    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 22.4px;
      letter-spacing: -3%;
      color: var(--white);

      @media screen and (max-width: 767px) {
        font-size: 15px;
        line-height: 21px;
        letter-spacing: -2%;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 8px;
    padding-top: 16px;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }

    a {
      display: flex;
      background: #fff3; /* Исправлено */
      color: var(--white);
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 11px;
      padding-bottom: 11px;
      border-radius: 20px;
      white-space: nowrap;
      font-weight: 700;
      cursor: pointer;
      transition: background 0.3s ease;

      &.active {
        background: var(--white);
        color: var(--purple);
      }

      @media screen and (max-width: 767px) {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -2%;
      }
    }
  }

  &__total-block {
    margin-top: 36px;
    margin-bottom: 36px;
    background: #ffffff1a;
    padding: 24px;
    border-radius: 16px;

    input {
      width: 100%;
      font-size: 72px;
      line-height: 72px;
      font-weight: 800;
      letter-spacing: -2%;
      color: #fff;
      background: none;
      border: 0;
      outline: none;

      @media screen and (max-width: 767px) {
        font-size: 44px;
        line-height: 44px;
        letter-spacing: -2%;
      }

      @media screen and (max-width: 479px) {
        font-size: 40px;
        line-height: 40px;
      }

      @media screen and (max-width: 359px) {
        font-size: 36px;
        line-height: 36px;
      }
    }
  }

  &__total {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    letter-spacing: -2%;
    color: #fff9;

    span {
      font-weight: 800;
      color: #fff;
    }
  }

  &__checkbox {
    margin-top: 24px;
    text-align: center;

    label {
      color: #fff;
      font-size: 14px;
      line-height: 18.2px;
      letter-spacing: -2%;
      font-weight: 600;

      span {
        font-weight: 800;
      }
    }
  }

  &__dropdown {
    position: relative;

    .dropdown-trigger {
      display: flex;
      align-items: center;
      background: #fff3; /* Исправлено */
      color: var(--white);
      padding: 11px 16px;
      border-radius: 20px;
      font-weight: 700;
      cursor: pointer;
      transition: background 0.3s ease;
      gap: 8px;

      .path {
        fill: white;
      }

      &.active {
        background: var(--white);
        color: var(--purple);

        .path {
          fill: var(--purple);
        }
      }

      &:hover {
        background: #ffffff4d;
      }

      span {
        margin-left: 8px;
        font-size: 12px;
        color: var(--white);
        display: flex;

        @media screen and (max-width: 767px) {
          font-size: 14px;
        }
      }
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: var(--white);
      border: 1px solid rgba(245, 247, 250, 1);
      border-radius: 16px;
      padding: 4px 0;
      z-index: 10;
      width: 100%;
      margin-top: 8px;

      &.open {
        display: block;
      }

      .dropdown-item {
        padding: 10px 16px;
        color: var(--black);
        font-weight: 700;
        font-size: 16px;
        line-height: 17.6px;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background: #f0f0f0;
          color: var(--purple);
        }

        &:active {
          background: var(--purple);
          color: var(--white);
        }
      }
    }
  }

  &__send {
    margin-top: 24px;

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: var(--white);
      color: var(--purple);
      padding: 16px 32px;
      font-size: 16px;
      font-weight: 700;
      border-radius: 25px;
      text-decoration: none;
      transition: all 0.3s ease;
      cursor: pointer;
      width: 100%;
      box-sizing: border-box;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        background: #ddd;
      }

      @media screen and (max-width: 767px) {
        font-size: 15px;
        line-height: 18px;
        padding: 12px 24px;
      }
    }
  }
}

.dropdown-arrow {
  transform: rotate(0deg);

  path {
    fill: var(--white); // Белый цвет по умолчанию
  }

  &.active {
    transform: rotate(180deg); // Поворот при активном состоянии

    path {
      fill: var(--purple); // Фиолетовый цвет при активной стрелке
    }
  }

  &.inactive {
    transform: rotate(0deg); // Возврат в исходное положение

    path {
      fill: var(--white); // Белый цвет для неактивного состояния
    }
  }
}
