.team-cards {
  display: flex;
  gap: 24px;
  transition: transform 0.5s ease-in-out; /* Плавный переход */

  .card {
    padding: 12px;
    background: var(--white);
    border-radius: 24px;
    flex: 0 0 calc(33.333% - 16px);
    box-sizing: border-box;

    @media screen and (max-width: 1279px) {
      flex: 0 0 calc(50% - 12px); /* 2 карточки */
    }

    @media screen and (max-width: 767px) {
      flex: 0 0 100%; /* 1 карточка */
    }

    &__wrap {
      padding: 12px;
    }

    &__image {
      img {
        width: 100%;
        border-radius: 12px;
      }
    }

    &__title {
      padding-bottom: 4px;

      span {
        font-size: 20px;
        line-height: 26px;
        font-weight: 800;
        letter-spacing: -2%;
        color: var(--black);

        @media screen and (max-width: 767px) {
          font-size: 18px;
          line-height: 23.4px;
          font-weight: 800;
          letter-spacing: -2%;
        }
      }
    }

    &__position {
      height: 43px;

      span {
        font-weight: 600;
        font-size: 14px;
        line-height: 18.2px;
        letter-spacing: -2%;
        color: var(--grey);
      }
    }

    &__quote {
      margin-top: 16px;

      blockquote {
        padding: 12px;
        background: #f1f1fe;
        border-left: 4px solid var(--purple);
        border-radius: 4px 12px 12px 4px;
        font-size: 16px;
        line-height: 22.4px;
        font-weight: 500;
        color: var(--black);
        display: flex;
        gap: 8px;
      }
    }
  }
}

.slider-container {
  width: 100%; /* Контейнер занимает всю ширину */
  overflow: hidden; /* Скрываем элементы, выходящие за пределы */
  position: relative;
}

.slider-controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;

  @media screen and (max-width: 1023px) {
    display: none; /* Скрываем стрелки */
  }
}

.slider-btn {
  background-color: var(--white);
  color: var(--black);
  border: none;
  padding: 13px 17px;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 100px;
  cursor: pointer;
}

.slider-btn:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.pagination {
  display: none; /* Скрываем по умолчанию */
  justify-content: center;
  gap: 8px;
  width: max-content;
  padding: 8px;
  background: white;
  border-radius: 24px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1023px) {
    display: flex; /* Показываем пагинацию */
  }

  .pagination-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(245, 247, 250, 1);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.active {
      background-color: var(--purple);
    }
  }
}
